<h1><%= @goal.name %></h1>

<% @goal.comments.each do |comment| %>
  <ul>
    <li>
      <%= comment.body %>
      <% if current_user == comment.author %>
      <%= button_to "Delete Comment", goal_comment_url(comment), method: :delete %>
      <% end %>
    </li>
  </ul>

<% end %>

<form action="<%= goal_comments_url %>" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  <input
    type="hidden"
    name="goal_comment[goal_id]"
    value="<%= @goal.id %>">

    <label>
      Comment:
      <textarea
        name="goal_comment[body]"
        value="">
      </textarea>
    </label>

    <input type="submit" value="Submit Comment">

</form>

<%= link_to "All da Goals", goals_url %>
