<h1> <%= @user.username %> </h1>


<% @user.received_comments.each do |comment| %>
  <ul>
    <li>
      <%= comment.body %>
    </li>
  </ul>

<% end %>

<form action="<%= user_comments_url %>" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  <input
    type="hidden"
    name="user_comment[recipient_id]"
    value="<%= @user.id %>">

    <label>
      Comment:
      <textarea
        name="user_comment[body]"
        value="">
      </textarea>
    </label>

    <input type="submit" value="Submit Comment">

</form>
